.landingPageBackground {
  background-image: linear-gradient( #fff 911px,  #EEEEEE 911px);
}

@media screen and (max-width: 980px) {
  .landingPageBackground {
    background-image: none;
  }
}

.features {
  display: flex;
  align-items: center;
  width: 100%;
}
